@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


* {
    font-family: 'Ubuntu', sans-serif;
    outline: red dashed 0px;
}

body {
    background-color: #a0a0a0;
    font-size: 12px;
}

.principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ############# HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 10px;
    margin-right: 50px;
}

header p {
    color: blue;
}

.page-title h1 {
    font-size: 50px;
    text-shadow: 1px 2px 3px black;
    margin-left: 140px;
}

.login button {
    height: 30px;
    width: 120px;
    border-radius: 10px;
    margin-right: 50px;
    background-color: #c6c6c6;
    cursor: pointer;
}


/* ############# CONTAINER PLAYLISTS */
.container-playlists {
    background-color: #e7e7e7;
    height: 450px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 15px 30px #0000004d;
    transition: all 0.5s ease;
    margin-left: 100px;
}

.container-playlists:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

li {
    color: red;
    font-size: 20px;
}

.playlist {
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.name-playlist {
    width: 100%;
    font-size: 20px;
    color: black;
}

.name-playlist a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.name-playlist a:hover {
    color: red;
    transition: all 0.5s ease;
}

.delete-playlist i {
    font-size: 12px;
    margin-right: -20px;
    margin-bottom: 40px;
}

.add-playlist button {
    height: 30px;
    width: 50%;
    border-radius: 10px;
    margin-left: 80px;
    background-color: #c6c6c6;
    cursor: pointer;
}



/* ############# CONTAINER REPRODUCTOR */
.container-reproductor {
    background-color: #e7e7e7;
    height: 550px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 15px 30px #0000004d;
    transition: all 0.5s ease;

}

.container-reproductor:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}


/* ############# CARATULA */
.art-box {
    width: 300px;
    height: 300px;
    position: relative;
    top: -50px;
    left: 50px;
}

.art-box .active {
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.art-box:hover .active {
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8);
}


/* ############# TITOL CANÇO */
h2 {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    margin: 5px 0 0;
}

h3 {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 0;
}


/* ############# Barra */
.bar {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px 35px;
    height: 6px;
    width: 90%;
}

.progres {
    background-color: #212121;
    border-radius: 5px;
    height: 100%;
    width: 0%;
}

.duration {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
}


/* ############# Controls */
.controls-box {
    position: relative;
    top: -25px;
    left: 63px;
    width: auto;
}

.fa-solid {
    font-size: 30px;
    color: #666;
    cursor: pointer;
    margin-right: 30px;
    transition: all 0.3s ease;
}

.fa-solid:hover {
    filter: brightness(40%);
}

.play-button {
    font-size: 48px;
    position: relative;
    top: 7px;
}


/* ############# VOLUM */
.volum {
    display: flex;
    align-items: center;
}

.fa-volume-off {
    font-size: 25px;
    margin-left: 20px;
    margin-right: 45px;
}

.fa-volume-low {
    font-size: 25px;
    margin-left: 20px;
    margin-right: 39px;
}

.fa-volume-high {
    font-size: 25px;
    margin-left: 20px;
    margin-right: 30px;
}

.volume-bar {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    height: 6px;
    width: 12%;
    margin-left: -20px;
}

.progress-volume {
    background-color: #212121;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.fa-plus, .fa-minus {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 15px;
}


/* ############# CONTAINER SONGS */
.container-songs {
    background-color: #e7e7e7;
    height: 450px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 15px 30px #0000004d;
    transition: all 0.5s ease;
    margin-right: 100px;
}

.container-songs:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.songs-playlist {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 40px;
    margin-top: 5px;
}

.song-name {
    width: 100%;
    font-size: 20px;
}

.description {
    font-size: 12px;
}

.icona-play-canco i {
    margin-bottom: 24px;
}

.delete-song i {
    font-size: 12px;
    margin-bottom: 24px;
}

.add-song button {
    height: 30px;
    width: 50%;
    border-radius: 10px;
    margin-left: 80px;
    background-color: #c6c6c6;
    cursor: pointer;
}




/* ############# RESPONSIVE */

@media screen and (max-width: 480px) {
    header {
        display: flex;
    }

    header h2 {
        display: none;
    }

    .page-title h1{
        font-size: 45px;
        margin-left: 25%;
    }

    .principal {
        flex-direction: column;
        margin-top: 120px;
    }

    /* ############# Reproductor */
    .container-reproductor {
        width: 300px;
        height: 410px;
        order: 1;
    }

    .art-box {
        width: 220px;
        height: 220px;
        left: 0;
        margin-left: 42px;
    }

    h2 {
        font-size: 25px;
        margin: 0;
        margin-top: -20px;
    }

    h3 {
        font-size: 18px;
    }

    /* ############# Barra */
    .bar {
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
        height: 6px;
        margin: 0;
        margin-top: 40px;
        margin-left: 10px;
        width: 90%;
    }

    .progres {
        background-color: #212121;
        border-radius: 5px;
        height: 100%;
        width: 0%;
    }

    .duration {
        position: relative;
        display: flex;
        justify-content: space-between;
        top: -25px;
        font-size: 12px;
    }

    /* ############# Controls */
    .controls-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        top: 0;
        left: 0;
        margin-top: 18px;
        margin-left: 23px;
        width: auto;
    }

    .fa-solid {
        font-size: 25px;
    }

    .fa-solid:hover {
        filter: none;
    }

    .play-button {
        font-size: 40px;
        position: relative;
        top: 0;
        margin-top: -8px;
    }

    /* ############# VOLUM */
    .volum {
        margin-top: 20px;
    }

    .fa-volume-off {
        font-size: 18px;
    }

    .fa-volume-low {
        font-size: 18px;
    }

    .fa-volume-high {
        font-size: 18px;
    }

    .volume-bar {
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
        height: 6px;
        width: 15%;
        margin-left: -20px;
    }

    .progress-volume {
        background-color: #212121;
        border-radius: 5px;
        height: 100%;
        width: 100%;
    }

    .fa-plus, .fa-minus {
        margin-left: 10px;
        margin-right: 5px;
        font-size: 15px;
    }



    .login {
        display: none;
    }

    .container-playlists {
        width: 300px;
        height: 300px;
        margin-left: 0;
        margin-top: 20px;
        order: 2;
    }

    .container-songs {
        width: 300px;
        height: 410px;
        margin: 0;
        margin-top: 20px;
        order: 3;
    }
}